* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header section */

header {
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 300px 0;
    color: white;
}

header h1 {
    font-size: 65px;
    font-weight: 700;
}

header p {
    font-size: 18px;
    margin-bottom: 10px;
}

header button {
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}

/* Donate Today section */
.donate-today-container {
    text-align: center;
    padding: 100px 0;
}

.donate-today-container h1 {
    font-size: 45px;
}

.donate-today-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.amount {
    display: flex;
    justify-content: center;
}

.amount h1 {
    font-size: 30px;
    padding: 30px;
    margin: 5px;
    background-color: rgba(211, 211, 211, 0.605);
    border-radius: 5px;
}

.amount-color {
    color: #FF5959;
    background-color: #ff5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.donate-today-container input {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 800px;
    text-align: center;
    margin: 10px 0;
    padding: 15px 0;
}

.donate-today-container button {
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}

/* Our Donate Plan section */
.our-donate-plan-section {
    text-align: center;
    padding: 50px 0;
}

.our-donate-plan-section h1 {
    font-size: 45px;
}

.our-donate-plan-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.plans h1 {
    font-size: 24px;
    margin: 10px 0;
}

.plans p {
    font-size: 16px;
}

.item1 {
    background-color: rgba(79, 157, 166, 0.1);
    ;
    width: 350px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}

.item2 {
    background-color: rgba(255, 89, 89, 0.1);
    ;
    width: 350px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}

.item3 {
    background-color: #FFF4D6;
    width: 350px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}

/* Their lives depend on your donation section  */
.donation-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 50px 0;
}

.donation-section h1 {
    font-size: 45px;
}

.donation-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.donation-section div {
    width: 500px;
    height: 477px;
}

.donation-section img {
    width: 500px;
    height: 400px;
}

.donation-section button {
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}

/* Get My Updates section */
.updates-section {
    text-align: center;
    padding: 50px 0;
}

.updates-section h1 {
    font-size: 45px;
}

.updates-section p {
    font-size: 18px;
}

.updates-section input {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 300px;
}

.updates-section button {
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    border: none;
    margin-left: -5px;
}

.input-bg {
    margin: 50px auto;
    background-color: #FFF4D6;
    width: 600px;
    padding: 80px 100px;
}